.frame {
    border-style: solid;
    border-color: green;
}

.map {
    border-style: solid;
    border-color: brown;
    position: relative;
    width: 500px;
    height: 500px;
}

.back {
    position: absolute;
    right: 40px;
    top: 20px;
    width: 100px;
    height: 50px;
}